[user]
	name = Abhishek Chanda
	email = abhishek.becs@gmail.com
[gitreview]
        username = abhishek
	username = achanda
[color]
        # Use colors in Git commands that are capable of colored output when outputting to the terminal
        ui = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[log]
        decorate = full
[alias]
        lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph
        all = !git lg --all
        allrefs = !git reflog | cut -f1 -d\" \" | xargs git lg
	get = !git fetch upstream && git rebase upstream/master
[credential]
	helper = osxkeychain
[http]
	cookiefile = /Users/Abhishek/.gitcookies
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = simple
